# # Logs
# logs
# *.log
# npm-debug.log*

# extra files to ignore.
scripts/
queries.sql

# Dependency directories
node_modules/


# dotenv environment variable files
.env
.env.*
!.env.example

# parcel-bundler cache (https://parceljs.org/)
.cache
.parcel-cache


# Nuxt.js build / generate output
dist